$lp-bg-color-4: #c4cbd6;
$lp-bg-color-3: #d4dce2;
$lp-bg-color-2: #dee4e9;
$lp-bg-color-1: #ffffff;

@import 'mixins';
@import 'card';
@import 'auth';
@import 'home';
@import 'tooltip';
@import 'loading';
